* {
  padding: 0px;
  text-decoration: none;
  color: black;
}


#wrapper-divs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#nav-div-only{  
  text-align: center;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  border-bottom: 1px solid rgb(226, 226, 226); 
}

#nav-div-content-holder {
  max-width: 100%;
  display: inline-block;
}

#first-logo {
  width: 15%;
  position: relative;
  bottom: 15px;
}

 .nav-bar-divs{
    width: 30%;
    display: inline;
 }

 nav img {
  width: 6%;
 }

 nav a {
  color: black;
  font-size: 18px;
 }

a:hover {
  text-decoration: underline;
}

.navbar-div-content{
  padding-right: 20px;
  float: left;
}

#nav-bar-icons{
  float: left;
  padding: 10px;
}

#nav-bar-title {
  position: relative;
  right: 25px;
  top: 10px;
  font-size: 23px;
  padding: 10px;
}

#nav-bar-buttons{
  float: right;
}

nav div button {
  float: right;
  padding: 10px;
  border: 1px solid #326891;
  background-color: #6288a5;
  border-radius: 5px;
}

nav div button:hover {
  background-color: #0870c2;
}

.subButton{
  color: white;
  margin-left: 10px;S
}

#main-picture-title {
  text-align: left;
  font-size: 2em;
  width: 40%;
  display: inline-block;
  position: relative;
  left: 100px;
}

#below-nav-pic{
 text-align: center;
}

#main-pic-div{
  width: 75%;
  display: inline-block;
}

#main-pic-figcaption{
  text-align: left;
  margin: 0px;
  padding: 0px;
}

#main-pic{
  width: 100%;
}

#main-div-only {
 text-align: center;
 display: grid;
 grid-column-gap: 50px;
 grid-template-columns: 1fr 2fr 1fr;
 grid-template-rows: repeat(6, auto);  
}

#below-nav-pic {
  grid-column: 1 / -1;
}

#social-media-list{
  list-style: none;
  float: right;
  position: relative;
  bottom: 10px; 
}

.css-60hakz{
  color: #999;
  display: inline;
  margin-right: 16px;
  padding: 5px;
  width: 100%;
  background-color: #cec9c9;
  border: 1px solid #cec9c9;
  border-radius: 50%;

}

.css-60hakz:hover {
  background-color: #f3f0f0;
}

#special-icon{
  border: 0px;
  background-color: white;
}

#first-layer-icons-date {
  display: inline-block;
  float: right;
}

#first-layer-middle-div{
  margin-top: 20px;
  text-align: left;
}

#passage-one{
  font-size: 1.5em;
  margin-top: 100px;
}

 #second-layer-middle-div {
  max-width: 100%;
  grid-column: 1 / -1;
  text-align: center;
 }

 #second-layer-middle-div-background-holder {
  display: inline-block;
  max-width: 1000px;
  font-size: 0.7em;
 }

#second-layer-middle-div-content-holder {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  text-align: left;
}

 #theory-of-inflatioin{
  grid-column: 1 / -1;
  padding: 0px;
 }

#by {
  grid-column: 1 / -1;
}

#third-layer-middle-div{
  text-align: left;
}

 #third-layer-middle-div a {
  text-decoration: underline;
 }

 #third-layer-middle-div a:hover {
   text-decoration: none;
 }

#forth-layer-middle-div{
  grid-column: 1 / 3;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 29px auto auto 1px 20px auto auto;
  position: relative;
  left: 70px;
  width: 80%;
  text-align: left;
}

#forth-layer-blog-extra {
  grid-column: 1 / -1;
  padding: 0px;
 }

#editor-pics {
  margin: 0px;
}

#forth-layer-blog-one{
  grid-column: 1 / -1;
}

#forth-layer-blog-eight{
  grid-column: 1 / -1;
  background-color: rgb(0, 0, 0);
}

#third-layer-aside-right{
 position: relative;
 right: 100px;
}

#fifth-layer-middle-div{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 95%;
  position: relative;
  left: 28px;
  border-top: 4px double rgb(226, 226, 226);
}

#fifth-layer-middle-blog-one {
  grid-column: 1 / -1;
}

.iframe-video{
  display: inline-block;
}

#third-layer-button{
  display: inline-block;
  width: 40%;
}

#third-layer-button button {
  padding: 10px;
  background-color: rgb(98, 136, 165);
  color: white;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  border-radius: 3px;
  padding: 5px 0px;
  transition: background-color 0.6s ease 0s;
}

#third-layer-icons {
  display: inline-block;
  width: 30%;
  float: right;
}

.css-y8aj3r {
  padding: 0;
  list-style: none;
  float: right
}

.css-ar1l6a {
  color: #999;
  display: inline;
  margin-right: 16px;
  padding: 10px 0;
  width: 100%;

}

.bi-layer{
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 0, 0);
}

.css-fx3mi4 {
  border-top: 1px solid rgb(226, 226, 226);
  list-style: none;
}
.css-18cmw3s {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 15px 0px;
}

.above-nav-list {
  list-style: none;
  float: left;
  text-align: left;
  font-size: 11px;
  margin-top: -20px;
}
.above-nav-list li {
  padding: 5px;
}

#last-right-div{
  border-left: 1px solid rgb(226, 226, 226);
}

#fifth-layer-middle-div h5 {
  text-align: left;
  position: relative;
  left: 5px;
}

#second-logo {
  float: left;
  width: 15%;
}

.fifth-layer-list{
  position: relative;
  bottom: 20px;
}

.special-last-rigth-list{
  font-weight: bolder;
  font-size: 1.5em;
 
}

.css-r5ic95 {
  padding-right: 10px;
  width: 12px;
}

footer {
  width: 95%;
  border-top: 1px solid rgb(226, 226, 226) ;
  margin-left: 35px;
  text-align: center;
  padding: 0;
 }

 #footer-div{
  width: 1000px;
  height: 30px;
  display: inline-block;
   padding: 0px;
 }

 #footer-div ul{
  list-style: none;
  position: relative;
  bottom: 10px;
 }

#footer-div ul li {
  display: inline-block;
  padding-right: 15px;
  font-size: 11px;
  color: rgb(153, 153, 153);
  font-weight: lighter;
}

#forth-layer-blog-one h5{
  text-align: left;
  margin: 0;
  position: relative;
  top: 10px;
}

.imageBlock {
  width: 100%;
}

.date {
  font-size: 0.5em;
  font-weight: lighter;
}

.mgs {
  width: 100%;
}